<div class="search">
  <input type="text" class="searchTerm" placeholder="Nom de l'enfant, ou du parent (premiere lettre en majuscule)"
    [(ngModel)]="keyword">
  <button type="submit" class="searchButton" (tap)="rechercher()"> Rechercher
  </button>
</div>

<div class="cases" *ngIf="result">
  <div class="list" *ngFor="let item of cases">
    <mat-card class="card" (tap)="details(item)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item?.name}}</mat-card-title>
        <mat-card-subtitle>{{item?.age}} ans</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="kid" [src]="item.picture[0].url" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{item.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="!result">
  Desolé, pas de resultat pour cette recherche, veuillez réessayer s'il vous plait.
</div>
